<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="liuyuchen.example.AndroidDemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".DialogActivity"
            android:exported="true" />
        <activity
            android:name=".UIActivity"
            android:exported="true" />
        <activity
            android:name=".ToastActivity"
            android:exported="true" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.WaterFallActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.GridRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.HorizontalRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.LinearRecycleViewActivity"
            android:exported="true" />
        <activity
            android:name=".recycleview.RecycleViewActivity"
            android:exported="true" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="true" />
        <activity
            android:name=".EditTextActivity"
            android:exported="true" />

        <activity
            android:name=".PropActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".ButtonActivity"
            android:exported="true" />
        <activity
            android:name=".listview.ListViewActivity"
            android:exported="true" />
    </application>

</manifest>